.cuerpoConsola {
  height: 95vh;
  width: 37vw;
  background-color: red;
  border-radius: 0.6em;
  border-bottom-right-radius: 4.5em;

  @media (max-width: 768px) {
    height: 98vh;
    width: 98vw;
  }
}
/* ZONA BORDE ARRIBA */
.bordeArriba {
  width: 100%;
  height: 6%;
  background-color: blue;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
}

.onOff {
  height: 100%;
  width: 50%;
  background-color: blueviolet;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.on {
  margin-left: 0.8em;
}

/* ZONA PANTALLA */
.partePantalla {
  background-color: burlywood;
  height: 46%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pantallaExterior {
  background-color: grey;
  height: 100%;
  width: 90%;
  border-radius: 0.6em;
  border-bottom-right-radius: 2.7em;
  flex-direction: column;
}

.margenTop {
  background-color: aqua;
  width: 100%;
  height: 9%;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
}

.pantallaCentral {
  background-color: cadetblue;
  height: 80%;
  width: 100%;
  display: flex;
}

.margenIzq {
  background-color: aqua;
  height: 100%;
  width: 12%;
}

.pantalla {
  background-color: white;
  height: 100%;
  width: 76%;
  border-radius: 0.1em;
}

.margenDer {
  background-color: aqua;
  height: 100%;
  width: 12%;
}

.margenBot {
  background-color: aqua;
  height: 11%;
  width: 100%;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 3em;
}

/* PARTE CENTRAL LOGO Y BOTONERAS */
.parteCentral {
  background-color: darkgoldenrod;
  height: 30%;
  display: flex;
  flex-direction: column;
}

/* LOGO */
.parteLogo {
  background-color: darkgreen;
  height: 25%;
  width: 100%;
  display: flex;
}

.vacio3 {
  background-color: #000;
  height: 100%;
  width: 33%;
}

.logo {
  background-color: red;
  height: 100%;
  width: 34%;
}

.vacio1 {
  background-color: #000;
  height: 100%;
  width: 33%;
}

/* CRUCETA Y BOTONERA A Y B */
.parteBotonera {
  background-color: deeppink;
  height: 75%;
  display: flex;
}

/* CRUCETA */
.parteCruceta {
  background-color: yellow;
  height: 100%;
  width: 50%;
  display: flex;
}

.cruceta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-top: 0.5em;
}

.fila {
  display: flex;
  align-items: center;
}

.boton {
  width: 2.5em;
  height: 2.5em;
  border: 0.2em solid #000;
}

.arriba {
  border-bottom: none;
  border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242223;

}

.boton.arriba .triangulo {
  margin-bottom: 0.5em;
}

.fila2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abajo {
  border-top: none;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242223;

}

  .boton.abajo .triangulo {
    transform: rotate(180deg);
    margin-top: 0.5em;
 }
  
.izquierda {
  border-right: none;
  border-bottom-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242223;

}

.boton.izquierda .triangulo {
  transform: rotate(-90deg);
  margin-right: 0.5em;
}
  
.derecha {
  border-left: none;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242223;
}

.boton.derecha .triangulo {
  transform: rotate(90deg);
  margin-left: 0.5em;
}

.triangulo {
  border-style: solid;
  border-width: 0 1em 1.8em 1em;
  border-color: transparent transparent #131112 transparent;
}


.centro {
  background-color: #242223 ;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.boton.centro {
  width: 2.5em;
  height: 2.9em;
  background-color: #242223;
}

.circulo {
  background-color: black;
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
}

/* .boton.centro::before {
  content: "\26AB";
  font-size: 1.5em;
} */




.boton.arriba::before,
.boton.izquierda::before,
.boton.derecha::before,
.boton.abajo::before {
  color: black;
}



@media (max-width: 768px) {
  .cruceta {
    margin-top: 0em;
  }

  .boton {
    width: 1.5em;
    height: 1.5em;
  }
}


/* BOTONES A Y B */
.botoneraAYB {
  background-color: lime;
  height: 100%;
  width: 50%;
  display: flex;
}

.vacio4 {
  background-color: #000;
  height: 100%;
  width: 33%;
}

.botoneraA {
  background-color: darkgreen;
  height: 100%;
  width: 33.5%;
}

.vacio5 {
  background-color: aquamarine;
  height: 28%;
}

.botoneraB {
  background-color: grey;
  height: 100%;
  width: 33.5%;
}

.vacio6 {
  background-color:aquamarine;
  height: 15%;
}

/* PARTE BAJA */
.parteBaja {
  background-color: orange;
  height: 18%;
  width: 100%;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 4.5em;
  display: flex;
}

.vacio2 {
  background-color: #000;
  height: 100%;
  width: 32.8%;
  border-bottom-left-radius: 0.6em;
}
/* BOTONES */
.parteSelect {
  background-color: indigo;
  height: 100%;
  width: 17%;
}

.parteStart {
  background-color: brown;
  height: 100%;
  width: 17%;
}

/* ALTAVOZ */
.parteAltavoz {
  background-color: aquamarine;
  height: 100%;
  width: 33.2%;
  border-bottom-right-radius: 4.5em;
}
