.cuerpoConsola {
  height: 95vh;
  width: 37vw;
  background-color: red;
  border-radius: 0.6em;
  border-bottom-right-radius: 4.5em;

  @media (max-width: 768px) {
    height: 98vh;
    width: 98vw;
  }
}
/* ZONA BORDE ARRIBA */
.bordeArriba {
    width: 100%;
    height: 6%;
    background-color: blue;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
}

.onOff {
    height: 100%;
    width: 50%;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 2em;
    
}

.on {
    margin-left: 0.8em;
}

/* ZONA PANTALLA */
.partePantalla {
    background-color: burlywood;
    height: 46%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pantallaExterior {
    background-color: grey;
    height: 100%;
    width: 90%;
    border-radius: 0.6em;
    border-bottom-right-radius: 2.7em;
    flex-direction: column;
}


.margenTop {
    background-color: aqua;
    width: 100%;
    height: 9%;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.pantallaCentral {
    background-color: cadetblue;
    height: 80%;
    width: 100%;
    display: flex;
    
}

.margenIzq {
    background-color:aqua;
    height: 100%;
    width: 12%;
}

.pantalla {
    background-color: white;
    height: 100%;
    width: 76%;
    border-radius: 0.1em;
}

.margenDer {
    background-color:aqua;
    height: 100%;
    width: 12%;
}

.margenBot {
    background-color: aqua;
    height: 11%;
    width: 100%;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 3em;
}

.parteCentral {
    background-color: darkgoldenrod;
    height: 30%;
    display: flex;
}

.parteCruceta {
    background-color: gray;
    height: 100%;
    width: 33.3%;
}

.parteLogo {
    background-color: darkgreen;
    height: 30%;
    width: 33.3%;
}

.parteBotonera {
    background-color: deeppink;
    height: 100%;
    width: 33.4%;
    display: flex;
    flex-direction: column;
}

.vacio1 {
    background-color: darkblue;
    height: 33%;
}

.botoneraAB {
    height: 67%;
    width: 100%;
    display: flex;
}

.botoneraB {
    background-color: yellow;
    height: 100%;
    width: 50%;
}

.botoneraA {
    background-color: lime;
    height: 100%;
    width: 50%;
}

.parteBaja {
    background-color: orange;
    height: 18%;
    width: 100%;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 4.5em;
    display: flex;
}

.vacio2 {
    background-color: coral;
    height: 100%;
    width: 32.8%;
    border-bottom-left-radius: 0.6em;
}

.parteSelect {
    background-color: indigo;
    height: 100%;
    width: 17%;
}

.parteStart {
    background-color: brown;
    height: 100%;
    width: 17%;
}

.parteAltavoz {
    background-color: aquamarine;
    height: 100%;
    width: 33.2%;
    border-bottom-right-radius: 4.5em;
}